@font-face {
    font-family: 'MainFont';
    src: url('/site/fonts/alfont_com_29LT-Zarid-Serif-Regular-2.otf') format('opentype'); /* For OTF */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MainFontBold';
    src: url('/site/fonts/alfont_com_29LTZaridSlab-Bold.ttf') format('truetype'); /* For TTF  */
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'MainFontLight';
    src: url('/site/fonts/alfont_com_29LTZaridSlab-Light.ttf') format('truetype'); /* For TTF  */
    font-weight: bold;
    font-style: normal;
}

